/*Es ist durchaus sinnvoll die Eigenschaften aller HTML5-Elemente für alle Browser
  auf null zusetzen, um für jeden Browser dieselben Grundvoraussetzungen zu schaffen.
  Für uns stellt sich jedoch die Frage, möchten wir als Anfänger ein sauberes CSS,
  dafür aber jede Eigenschaft neu vergeben? Dies würde unser CSS nicht nur enorm
  aufblasen, sondern wäre auch noch mit einer Menge Zeit verbunden.
  Sicherlich hat man bei einem CSS-Reset die absolute Kontrolle und jedes Element
  macht nur das was man ihm auch vorher gesagt hat, aber wir sind zu dem Entschluss
  gekommen, dass in unserem Fall der Einbau eines Normalizers von Vorteil wäre, da
  dieser nicht alle sinnvollen Voreinstellungen auf Null setzt, sondern die
  Browser dazu bringt sich alle gleich zu verhalten.
*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url(/img/fussball-rasen.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 80%;
    margin: 0px auto;
    background-color: #FFFFFF;
    margin-top: 20px;
    padding: 10px;
}

header {
    position: relative;
}

header img {
    display: flex;
    width: 100%;
    background-repeat: no-repeat;
}

#logotext {
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 85%;
    text-align: right;
    font-size: 5vw;
    color: white;
    font-family: sans-serif;
}

#nametext {
    position: absolute;
    bottom: 0;
    width: 97%;
    height: 70%;
    text-align: right;
    font-size: 2vw;
    color: white;
}

#content {
    background-color: #FFF;
}

#footer {
    background-color: #d5d3d6;
    height: 3rem;
    margin-top: 10px;
    padding-top: 0.5em;
    padding-left: 0.5em;
}

/* ---------- Menu ----------- */

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 10px;
}

nav > ul > li {
    float: left;
    border-right: 1px solid #bbb;
}

nav > ul > li:last-child {
    border-right: none;
}

nav > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav > ul > li > a:hover {
    background-color: #111;
}

nav > ul > li > ul {
    display: none;
}

nav > ul > li:hover > ul {
    display: block;
    position: absolute;
}

nav > ul > li > ul > li {
    position: relative;
    list-style: none;
    background-color: #333
}

.active {
    background-color: #4CAF50;
}

.main {
    width: 96%;
    margin: 2% auto;
}

.articles-main {
    padding-bottom: 10px;
}

.articles-secondary {
    background: #fff;
    border: solid 1px #e4e8ea;
    padding: 2% 2% 6%;
    position: relative;
    overflow: hidden;
}

.articles-secondary img {
    max-width: 40%;
    float: left;
    margin-right: 5%;
}

/* Mobile */

@media(max-width: 480px) {
    #wrapper {
        width: 377px;
    }

    #headerlogo {
        max-width: 100%;
        height: auto;
    }

    #logotext {
        font-size: 15pt;
    }

    #nametext {
        font-size: 8pt;
    }
}

/*
@media(max-width: 768px) {
    #wrapper {
    	width: 204px;
	}

	#headerlogo {
		max-width: 100%;
    	height: auto;
	}

	#logotext {
		font-size: 23pt;
	}

	#nametext {
		font-size: 11pt;
	}
}
*/
