#bannerCL {
    background: url(https://s1.swimg.net/gsmf/680/img/flags/230x70/7.png) top right no-repeat;
    background-color: #F0F0F0;
}

#bannerDFB {
    background: url(https://s1.swimg.net/gsmf/680/img/flags/230x70/80.png) top right no-repeat;
    background-color: #F0F0F0;
}

.bannerprops {
    height: 70px;
    margin-bottom: 10px;
}

.bannerprops h2 {
    color: black;
    text-transform: uppercase;
    font-family: arial;
    margin-top: 0;
    padding-top: 20px;
    padding-left: 20px;
    display: block;
}

#cl th {
    border-bottom: 1px solid #d5d3d6;
    text-transform: uppercase;
    font-weight: normal;
    color: #ff3301;
    text-align: left;
    font-family: arial;
}

.flag {
    background-repeat: no-repeat;
    padding-left: 20px;
}

.right {
    padding-right: 20px;
    background-position: 100%;
}

.flag_italy {
    background-image: url(http://www.nationalflaggen.de/zeige-flagge-78779.html);
}

.flag_liverpool {
    background-image: url(http://www.nationalflaggen.de/zeige-flagge-349224.html);
}

.flag_bayern {
    background-image: url(http://www.nationalflaggen.de/zeige-flagge-39047.html);
}

.flag_madrid {
    background-image: url(http://www.nationalflaggen.de/zeige-flagge-184003.html);
}

.flag_muenchen {
    background-image: url(/img/clubs/bayern.png);
    background-size: 10%;
}

.flag_bremen {
    background-image: url(/img/clubs/bremen.png);
    background-size: 13%;
}

.flag_frankfurt {
    background-image: url(/img/clubs/frankfurt.png);
    background-size: 10%;
}

.flag_leverkusen {
    background-image: url(/img/clubs/leverkusen.png);
    background-size: 11%;
}

.flag_mainz {
    background-image: url(/img/clubs/mainz.png);
    background-size: 11%;
}

.flag_paderborn {
    background-image: url(/img/clubs/paderborn.png);
    background-size: 13%;
}

.flag_schalke {
    background-image: url(/img/clubs/schalke.png);
    background-size: 12%;
}

.flag_wolfsburg {
    background-image: url(/img/clubs/wolfsburg.png);
    background-size: 18%;
}

table.matches tr.even {
    background-color: #dadada;
    font-family: sans-serif;
}

table.matches td {
    font-size: 93%;
    line-height: 1.25em;
}

table.matches td.aggr {
    font-weight: bold;
}

.score {
    background-color: #bebebe;
    font-weight: bold;
    padding: 0 10px 0 10px;
}

table.matches .date {
    width: 70px;
    background-color: white;
}

table.matches .team {
    width: 200px;
    background-color: white;
}

table.matches .team-a {
    text-align: right;
    padding-right: 0.7em;
}

table.matches .team-b {
    text-align: left;
    padding-left: 0.7em;
}

table.matches .day {
    background-color: white;
}

.block {
    margin-bottom: 20px;
}

.block h3 {
    border-bottom: 1px solid #d5d3d6;
    text-transform: uppercase;
    font-weight: normal;
    color: #ff3301;
    text-align: left;
    font-family: arial;
}

.real-content {
    margin-top: 1em;
}

table {
    border-collapse: collapse;
}
