#bannerCL {
    background: url(https://s1.swimg.net/gsmf/680/img/flags/230x70/7.png) top right no-repeat;
    background-color: #F0F0F0;
}

#bannerDFB {
    background: url(https://s1.swimg.net/gsmf/680/img/flags/230x70/80.png) top right no-repeat;
    background-color: #F0F0F0;
}

.bannerprops {
    height: 70px;
    margin-bottom: 10px;
}

.bannerprops h2 {
    color: black;
    text-transform: uppercase;
    font-family: arial;
    margin-top: 0;
    padding-top: 20px;
    padding-left: 20px;
    display: block;
}

#content {
    background-color: #FFF;
}

#cl th {
	border-bottom: 1px solid #d5d3d6;
    text-transform: uppercase;
	font-weight: normal;
    color: #ff3301;
    text-align: left;
    font-family: arial;
}

.flag {
	background-repeat: no-repeat;
	padding-left: 20px;
}

.right {
	padding-right: 20px;
    background-position: 100%;
}

.flag_italy {
	background-image: url(http://www.nationalflaggen.de/zeige-flagge-79108.html);
}

.flag_liverpool {
	background-image: url(http://www.nationalflaggen.de/zeige-flagge-349224.html);
}

.flag_bayern {
    background-image: url(http://www.nationalflaggen.de/zeige-flagge-39047.html);
}

.flag_madrid {
    background-image: url(http://www.nationalflaggen.de/zeige-flagge-184003.html);
}

table.matches tr.even {
	background-color: #dadada;
	font-family: sans-serif;
}

table.matches td {
	font-size: 93%;
	line-height: 1.25em;
}

table.matches td.aggr {
	font-weight: bold;
}

.score {
	background-color: #bebebe;
    font-weight: bold;
}

table.matches .date {
	width: 70px;
    background-color: white;
}

table.matches .team {
	width: 200px;
    background-color: white;
}

table.matches .team-a {
	text-align: right;
	padding-right: 0.7em;
}

table.matches .team-b {
	text-align: left;
	padding-left: 0.7em;
}

table.matches .day {
    background-color: white;
}

.block h3 {
    border-bottom: 1px solid #d5d3d6;
    text-transform: uppercase;
	font-weight: normal;
    color: #ff3301;
    text-align: left;
    font-family: arial;
}
